<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607742568195-5aqrr8fk6l14nrm3mvi8e3p1no2fc118.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607742568195-5aqrr8fk6l14nrm3mvi8e3p1no2fc118</string>
	<key>API_KEY</key>
	<string>AIzaSyAFA_Jr7QvxQqK4uO-zgON7fhDsNtU4_9w</string>
	<key>GCM_SENDER_ID</key>
	<string>607742568195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aprmp.projpronetplataa</string>
	<key>PROJECT_ID</key>
	<string>rn-proj-pronetplat-aa</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-proj-pronetplat-aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607742568195:ios:28906b39cb0df51838eb36</string>
</dict>
</plist>